<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
<div class="container">

    <header>
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li><a href="{{url_for('index_view')}}">Home</a></li>
                    <li><a href="{{url_for('register_view')}}">Register</a></li>
                    <li><a href="{{url_for('about_view')}}">About</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <section>

            {% block main %}

            {% endblock %}

        </section>
    </main>

    <footer class="footer">
        <div>
            &copy; 2017.All Rights Reserved.
        </div>
    </footer>

</div>
</body>
</html>